<nav class="navbar is-black" role="navigation" aria-label="main navigation">
  <div class="container">

    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/assets/img/logo_turquoise.png" alt="BINSEC: binary code analyzers" width="112" height="28">
      </a>

      <button class="button navbar-burger" data-target="nav-menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div class="navbar-menu" id="nav-menu" >
      <div class="navbar-start ">
        <!-- <a class="navbar-item" href="/apiref/">
         !--   API 
         !-- 
         !-- </a> -->
        <!-- <a class="navbar-item" href="">
         !--   Blog
         !-- </a> -->

        <a class="navbar-item" href="https://github.com/binsec">
          <i class="fab fa-github"></i>
          <span>Code</span>
        </a>

        <a class="navbar-item"
             id="docker-download"
             href="https://hub.docker.com/r/binsec/">
          <i class="fab fa-docker"></i> 
            <span>Docker</span>
          </a>
         
         <a class="navbar-item">
         </a>
         
         <a class="navbar-item" href="#about">
          <i class="far fa-question-circle"></i>
          <span>About</span>
        </a>
          
         <a class="navbar-item" href="#news">
          <i class="far fa-newspaper"></i>
          <span>News</span>
        </a>
        
        <a class="navbar-item" href="#people">
          <i class="fas fa-users"></i>
          <span>People</span>
        </a>


      </div>

      <div class="navbar-end">
      </div>
    </div>
    
  </div>
</nav>

