---
---

// 6. Import the rest of Bulma
@import "bulma.sass";

section.binsec {
        background-image: url("/assets/img/emacs-hexedit.png");
        div.hero-body {
            background-color: black;
            opacity:0.85;
        }
}

