---
layout: default-with-nav
title: Achievements
---


<section class="section">
  <div class="container">
    <h1 class="title is_primary">Hall of Fame</h1>
    <p><i>In reverse chronological order</i></p>
	<br>
    <h4 class="subtitle is-4">Verifying the binary of the ASTERIOS real-time OS kernel with no modification</h4>        
    <p> The BINSEC/Codex module for abstract interpretation has <b>verified the absence of privilege escalation and crash</b> in two <b>embedded OS kernels</b> (inluding the industrial ASTERIOS kernel), directly from their
        executables and with only a very low annotation burden. </p>
    <br>
	<i class="fas fa-user-secret"></i> Main developer: Olivier Nicole
	<br>
    <i class="fas fa-file-pdf"></i> Download <a href="/assets/publications/papers/2021-rtas.pdf" target="_blank"> report</a> 
	<br>
	<i class="fas fa-tools"></i> Download <a href="https://github.com/binsec/rtas2021_artifact" target="_blank"> tool and benchmark</a> 
	<br>
	<br>
    <br>
    <h4 class="subtitle is-4">Efficient automatic detection of Spectre vulnerabilities in binary code</h4>        
    <p> We have used the BINSEC/HAUNTED symbolic execution module to <b>detect Spectre vulnerabilities in cryptographic code</b>, such as the donna, Libsodium and OpenSSL libraries. The analysis revealed that Spectre <b>vulnerabilities</b> (STL variant) <b>can be introduced</b> both <b>by index-masking</b> (a well-known defense used against the PHT variant of Spectre) and by a popular <b>option of gcc to generate position-independent code</b> (PIC). </p>
    <br>
	<i class="fas fa-user-secret"></i> Main developer: Lesly-Ann Daniel
	<br>
    <i class="fas fa-file-pdf"></i> Download <a href="/assets/publications/papers/2021-ndss.pdf" target="_blank"> report</a> 
	<br>
	<i class="fas fa-tools"></i> Download <a href="https://github.com/binsec/haunted" target="_blank"> tool</a> and <a href="https://github.com/binsec/haunted_bench" target="_blank"> benchmark</a> 
	<br>
	<br>
    <br>
    <h4 class="subtitle is-4">Checking compliance of all the assembly code inlined in the source of 202 Debian packages</h4>        
    <p> The RUSTINA module of BINSEC has extracted 2640 chunks of assembly in Debian and checked compliance with their declared interface, <b>finding 2036 issues in 77 packages</b> (like ffmpeg or ALSA). RUSTINA has proposed patches for 95% of them, <b>solving automatically at least 53 significant issues</b> according to the package developers. </p>
    <br>
	<i class="fas fa-user-secret"></i> Main developer: Frédéric Recoules
	<br>
    <i class="fas fa-file-pdf"></i> Download <a href="/assets/publications/papers/2021-icse.pdf" target="_blank"> report</a>
	<br>
	<i class="fas fa-tools"></i> Download <a href="https://github.com/binsec/icse2021-artifact992" target="_blank"> tool and benchmark</a>
	<br>
	<br>
    <br>
    <h4 class="subtitle is-4">Massive testing of 1.9M lines of code for use-after-free vulnerabilities</h4>        
    <p> The UAFUZZ directed fuzzing module of BINSEC has discovered <b>30 new bugs in 6 widely used programs</b> (GPAC, GNU Patch, Perl 5, MuPDF, Boolector, fontforge), made of 1.9M lines of code. In September 2020, <b>17 of these bugs had been fixed</b> by the vendors and <b>7 have resulted in new CVEs</b>. </p>
    <br>
	<i class="fas fa-user-secret"></i> Main developer: Manh-Dung Nguyen
	<br>
    <i class="fas fa-file-pdf"></i> Download <a href="/assets/publications/papers/2020-raid.pdf" target="_blank"> report</a>
	<br>
	<i class="fas fa-tools"></i> Download <a href="https://github.com/binsec/uafuzz" target="_blank"> tool</a> and <a href="https://github.com/binsec/uafbench" target="_blank"> benchmark</a>
	<br>
	<br>
    <br>
    <h4 class="subtitle is-4">Deep analysis of 338 cryptographic tools for timing-attack vulnerabilities</h4> 
    <p> Our BINSEC/REL relational symbolic execution module has analysed 338 cryptographic primitives (from e.g. HACL*, OpenSSL, BearSSL and NaCL), notably <b>proving that 296 of the binaries were resilient to cache-based timing attacks</b>, while <b>finding 3 new binary-level vulnerabilities</b> (from secure source codes), introduced by the compiler.</p>
    <br>
	<i class="fas fa-user-secret"></i> Main developer: Lesly-Ann Daniel
	<br>
    <i class="fas fa-file-pdf"></i> Download <a href="/assets/publications/papers/2020-sp.pdf" target="_blank"> report</a>
	<br>
	<i class="fas fa-tools"></i> Download <a href="https://github.com/binsec/Rel" target="_blank"> tool</a> and <a href="https://github.com/binsec/rel_bench" target="_blank"> benchmark</a>
	<br>
	<br>
    <br>
    <h4 class="subtitle is-4">Translation to C of all the x86/ARM assembly embedded in the Linux codebase</h4>
    <p>In less than 1/2 hour, the TInA assembly lifter module of BINSEC has <b>securely translated 2000+ x86 or ARM assembly chunks to C</b>, all extracted from a typical Debian Linux distribution (including FFMPEG, ALSA and GMP), <b>enhancing</b> so <b>automatic analyses for Linux code</b> at the C level. </p>
        <br>
	<i class="fas fa-user-secret"></i> Main developer: Frédéric Recoules
	<br>
    <i class="fas fa-file-pdf"></i> Download <a href="/assets/publications/papers/2019-ase.pdf" target="_blank"> report</a>
	<br>
	<br>
    <br>
    <h4 class="subtitle is-4">Complete deobfuscation of the government-grade X-Tunnel malware</h4>
    <p> The backward-bounded dynamic symbolic execution module of BINSEC has automatically detected obfuscating "opaque predicates" in two samples of the X-Tunnel malware, leading to a significant (and automatic) simplification of their code – <b>removing all spurious and dead instructions seeded to obscure the binaries</b>.</p>
            <br>
	<i class="fas fa-user-secret"></i> Main developer: Robin David
	<br>
    <i class="fas fa-file-pdf"></i> Download <a href="/assets/publications/papers/2017-sp.pdf" target="_blank"> report</a>
  </div>
</section>


