---
layout: default-with-nav
title: Achievements
---

<section class="section">
  <div class="container">
    <h1 class="title is_primary"><a href="/achievements" style="text-decoration: none">Technical</a>&nbsp;&nbsp;|&nbsp;&nbsp;<b>Awards</b></h1>
    <p><i>In reverse chronological order</i></p>
    <br>

    {% for post in site.posts %}
    {% if post.categories contains "award" %}
    <h4 class="subtitle is-4">{{ post.title }}</h4>
    <p>
      {{ post.content }}
    </p>
    <br>
    {% endif %}
    {% endfor %}
  </div>
</section>
