---
layout: default-with-nav
title: Achievements
---


<section class="section">
  <div class="container">
    <h1 class="title is_primary"><a href="/achievements" style="text-decoration: none">Technical</a>&nbsp;&nbsp;|&nbsp;&nbsp;<b>Awards</b></h1>
    <p><i>In reverse chronological order</i></p>
	<br>

    <h4 class="subtitle is-4">Lesly-Anne Daniel ranks 2nd at the GDR Sécurité 2022 award</h4>        
    <p> 
    Lesly-Ann Daniel, a former PhD student in the team and now a postdoc at KU Leuven, ranks 2nd at the GDR Sécurité 2022 award (“best French PhD in cybersecurity”), for her work on symbolic analysis of side channels attacks and specualtive attacks. Congratulation!
    </p>
	<br>

    <h4 class="subtitle is-4">Lesly-Anne Daniel received the fellowship "Jeunes Talents France" L'Oréal - UNESCO pour les femmes et la science </h4>        
    <p> 
    Lesly Anne-Daniel reveived the fellowship <a href="https://www.forwomeninscience.com/authority/france---national-program">"Jeunes Talents France" L'Oréal - UNESCO pour les femmes et la science</a>
    for her PhD work on automated program analysis for security. A french article from ENS-Rennes is available <a href="http://www.ens-rennes.fr/-294770.kjsp">here</a>.
    </p>

  </div>
</section>


