---
layout: default
---

<section class="hero is-bold binsec is-fullheight">
  <div class="hero-head">
    {% include header.html %}
  </div>

  <div class="hero-body">
    <div class="container">

      <div class="columns is-vcentered has-text-centered hero-title">
        <div class="column is-unselectable">
          <div>
            <span id="logo">BINSEC</span>
          </div>
          <div>
            <h2 class="title">
              Binary code analysis for Security
            </h2>
          </div>
        </div>
      </div>
      
      <div class="is-vcentered">
        <div class="has-text-centered download">
          <a class="button is-primary is-large is-outlined download"
             id="download"
             href="https://github.com/binsec/binsec/archive/master.tar.gz">
            <span class="icon">
              <i class="fas fa-download"></i>
            </span>
            <span>Download latest</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div id="about"></div>
    <p>
    BINSEC is an <b>open-source toolset to help improve software security at the binary level</b>. It relies on <a href="/publications.html">cutting-edge research in binary code analysis</a>, at the intersection of formal methods, program analysis, security and software engineering. It is powered up by state-of-the-art techniques such as binary-level formal methods, symbolic execution, abstract interpretation, SMT solving and fuzzing.
    </p>
     <p>
     BINSEC has been <a href="/achievements.html">successfully applied</a> in a number of security-related contexts, such as vulnerability finding, (malware) deobfuscation, decompilation, formal verification of assembly code or even binary-level formal verification.   
     </p>

    <p>It is developed at the <a href="http://www-list.cea.fr/en/" target="_blank">CEA List</a> institute of <a href="https://www.universite-paris-saclay.fr/en" target="_blank">Université Paris-Saclay</a> in collaboration with <a href="https://www-verimag.imag.fr/?lang=en" target="_blank">Verimag</a> and <a href="https://www.loria.fr/en/" target="_blank">LORIA</a>.</p>

    <p>An overview of some BINSEC features can be found in
    our <a href="https://github.com/binsec/binsec/tree/master/doc">tutorials</a>. Further examples are bundled in our <a href="https://hub.docker.com/r/binsec/binsec">Docker image</a> and <a href="https://opam.ocaml.org/packages/binsec/">OPAM package</a>. 
    </p> 
    
    <b>Current release is version 0.8 from 07/2023.</b>

    <p>We have frequent <b>job openings</b> for postdoc, PhD student and intern positions. Check up <a href="/#news">the news</a> for ongoing calls or <a href="/people/binsec.html">contact us</a> if you believe that you could be a good match.</p>
  </div>
</section>

<section class="section">
  <div class="container">
    <div id="news"></div><h1 class="title is-1">News</h1>
    <hr/>

      {% for post in site.posts limit:5 %}
    <div class="columns home-post">
      <div class="column has-background-primary">
	{% if post.content.size > post.excerpt.size %}
	<a href="{{ post.url }}">{{ post.title }}</a>
	{% else %}
        {{ post.title }}
	{% endif %}
      </div>
      <div class="column">
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
      </div>
      <div class="column is-half">
        {% if post.paper-title %}
        {{ post.paper-title }}
        {% else %}
        {{- post.excerpt }}
        {% endif %}
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div id="people"></div><h1 class="title is-1">People</h1>
    <hr/>
    {% assign people_grp = site.data.team | group_by: 'position' %}
    {% assign positions = site.data.positions %}

    <div class="columns">
    {% for g in people_grp %}
    {% assign position = site.data.positions[g.name].name %}
    <div class="column">
      {% assign pos = position %}
      {% if g.size > 1 %}
      {% assign pos = position | append: "s" %}
      {% endif %}
      <h2 class="subtitle is-2">{{ pos }}</h2>

      {% assign categories = g.items | group_by: 'is_past' %}

      {% for c in categories %}
      {% assign people = c.items | sort: "lastname" %}

      <div class="content">
      {% if c.name == "true" %}
      <hr/> 
      {% assign pos = position %}
      {% if people.size > 1 %}
      {% assign pos = position | append: "s" %}
      {% endif %}
      <h4 class="subtitle">Former {{ pos }}</h4>
      {% endif %}
      <ul>

        {% for p in people %}
        <li> 
          <div>
          {% if p.www %}
          <a href="{{ p.www }}"> {{ p.firstname }} <span class="lastname">{{ p.lastname }}</span></a>
          {% else %}
          {{ p.firstname }} <span class="lastname">{{ p.lastname }}</span>
          {% endif %}
          </div>
        </li>
        {% endfor %}
      </ul>
      </div>
      {% endfor %}


    </div>
    {% endfor %}
    </div>
    <hr/>
    {% assign people_grp = site.data.otherpeople | group_by: 'position' %}
    {% assign positions = site.data.positions %}

    <div class="columns">
    {% for g in people_grp %}
    {% assign position = site.data.positions[g.name].name %}
    <div class="column">
      {% assign pos = position %}
      {% if g.size > 1 %}
      {% assign pos = position | append: "s" %}
      {% endif %}
      <h2 class="subtitle is-2">{{ pos }}</h2>

      {% assign categories = g.items | group_by: 'is_past' %}

      {% for c in categories %}
      {% assign people = c.items | sort: "lastname" %}

      <div class="content">
      {% if c.name == "true" %}
      <hr/> 
      {% assign pos = position %}
      {% if people.size > 1 %}
      {% assign pos = position | append: "s" %}
      {% endif %}
      <h4 class="subtitle">Former {{ pos }}</h4>
      {% endif %}
      <ul>

        {% for p in people %}
        <li> 
          <div>
          {% if p.www %}
          <a href="{{ p.www }}" target="_blank"> {{ p.firstname }} <span class="lastname">{{ p.lastname }}</span></a>
          {% else %}
          {{ p.firstname }} <span class="lastname">{{ p.lastname }}</span>
          {% endif %}
          </div>
        </li>
        {% endfor %}
      </ul>
      </div>
      {% endfor %}


    </div>
    {% endfor %}
    </div>

  </div>
</section>
