---
layout: default-with-nav
---
<section class="section">
<p>
<img src="/assets/img/people/{{ page.picture }}.jpg" alt="{{ page.name }}" hspace="50" height="500" align="left" border="1" width="500">
<h1 class="title is-1">{{ page.name }}</h1>
<h3 class="subtitle is-3">{{ page.position }}</h3>
{% if page.topic %}
<b>Research Topic</b>: {{ page.topic }}
<br>
<br>
{% endif %}
<b>Mail</b>: {{ page.mail }}_at_cea.fr
{% if page.website %}
<br>
<b>Website</b>: <a href="{{ page.website }}" target="_blank">{{ page.website }}</a> 
{% endif %}
{% if page.linkedin %}
<br>
<b>Linkedin</b>: <a href="{{ page.linkedin }}" target="_blank">{{ page.linkedin }}</a> 
{% endif %}
{% if page.twitter %}
<br>
<b>Twitter</b>: <a href="{{ page.twitter }}" target="_blank">{{ page.twitter }}</a> 
{% endif %}
<br clear="left">
</p>
</div>
</section>

