---
layout: default-with-nav
---

<section class="section">
<div class="container">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <h1 class="title">{{ page.title }}</h1>
      </div>
    </div>
    <div class="level-right">
      <div class="levet-item">
        <h3 class="subtitle">              
          <span>
            {{ page.date | date: '%B %d, %Y' }}
          </span>
        </h3>
      </div>
    </div>
  </div>
    <div class="level">
      <h3 class="subtitle is-3">{{ page.paper-title }}</h3>
    </div>
    <hr/>
    <section class="post">
      {% if page.topic %}
      <div class="columns overview">
        <div class="column is-8">
          <h3 class="topic">General topic</h3>
          <p>{{ page.topic }}</p>
        </div>
        <div class="column is-offset-1">
          {% if page.pdf  %}
          <a href="{ page.pdf }}" class="button is-dark">
            <i class="fas fa-file-pdf"></i>
            <span> Download PDF</span></a>
        </div>
        {% endif %}
      </div>
      {% endif %}
      {{ content }}
    </section>

      {% if page.from-binsec-version %}
    <section class="section">
      <div class="columns overview">

      <div class="column is-6 is-offset-3">
        <span class="is-success">
          <i class="fas fa-check-circle"></i>
         </span>
         <span>Integrated in BINSEC {{ page.from-binsec-version }}</span>        
      </div>
     </div>
    </section>
      {% endif %}
</div>
</section>
